<div *ngIf="activity" class="d-flex flex-column justify-content-between px-lg-5 mx-lg-5" style='height: 90%;'>

    <!-- title -->
    <div class="d-flex justify-content-between">

        <div>
            <p class="h3">{{activity.name}}</p>
            <div class="d-flex align-items-center">
                <p class="fw-bold m-0 me-2">{{activity.activityLevel}}</p>
                <p class="text-secondary m-0">{{activity.Topic?.name}}</p>
            </div>
        </div>

        <app-activity-type-badge [activityTypePPP]="activity.activityType!">
        </app-activity-type-badge>

    </div>


    <!-- body -->
    <div>
        <app-activity-body-write *ngIf="activity.activityType == 'WRITING'" [activity]="activity">
        </app-activity-body-write>
    </div>

    <!-- footer -->
    <div style='border: 1px solid; height: 200px;'>
        <p>HOLA</p>
    </div>

</div>

<!-- <div style='height: 100vh;' style='border: 1px solid;'></div> -->
<!-- <pre>{{activity | json}}</pre> -->