<div class="px-3" style='border: 1px solid red;'>

    <div class="container">
        <p class="fw-semibold fs-5 m-0">Comentarios</p>
        <small class="fw-semibold text-black-50 m-0">5 comentario</small>
    </div>


    &nbsp;

    <div class="container">

        <div class="mb-2" style="display: flex; flex-direction: row;">
            <img class="rounded-circle" style="width: 5%; height: min-content;" src="./assets/src/header/not_photo.png">
            &nbsp;
            <div style='flex-grow: 1;'>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary">
                Comentar
            </button>
        </div>

    </div>

    &nbsp;

    <div *ngFor="let item of [1, 2, 3, 5, 6, 7, 8, 9, 0]" class="container">

        <div class="mb-2" style="display: flex; flex-direction: row;">

            <!-- <img class="rounded-circle" src="./assets/src/header/not_photo.png"> -->

            &nbsp;

            <div style='flex-grow: 1;' class="rounded-1 px-2 py-3">

                <div style='
                    border: 1px solid rgb(109, 137, 102);
                    display: flex;
                    flex-direction: row;'>

                    <p class="text-black-50 m-0">
                        El término Década Ominosa —es decir, abominable— fue acuñado por los liberales que sufrieron la
                        represión y el exilio durante esos diez años. El escritor progresista Benito Pérez tituló uno
                        de sus Episodios Nacionales
                    </p>

                </div>
            </div>

        </div>

    </div>