<div *ngIf="this.userTutorCurrent" class="container px-5 py-4">

    <div class="row g-3">

        <div class="col-lg-4 d-flex flex-column align-items-center">
            <img class="rounded-circle mb-3" style="height: 200px; width: 200px;"
                src="./assets/src/header/not_photo.png">

            <div class="bg-read rounded-pill px-3 py-1 mb-2">
                <p class="fs-6 m-0 text-light">{{this.userTutorCurrent.role}}</p>
            </div>

            <p class="fs-6">
                <span class="fw-bold">ID: </span>
                {{this.userTutorCurrent.id | accountShortID}}
            </p>
        </div>

        <div class="col-lg-8">

            <p class="fs-6 mb-0 fw-light">Datos personales</p>
            <hr class="m-0 m-2">
            <app-person-info-row tag="Nombre completo:" [valueInfo]="userTutorCurrent.fullName"></app-person-info-row>


            <div class="m-5"></div>

            <p class="fs-6 mb-0 fw-light">Registro de la institución</p>
            <hr class="m-0 m-2">
            <app-person-info-row tag="Nombre de la institución:" [valueInfo]="userTutorCurrent.collegeName">
            </app-person-info-row>
            <app-person-info-row tag="Registro del tutor:" [valueInfo]="userTutorCurrent.collegeEnrollment">
            </app-person-info-row>
            <app-person-info-row tag="Correo electrónico:" [valueInfo]="userTutorCurrent.email"></app-person-info-row>

            <div class="m-5"></div>

            <p class="fs-6 mb-0 fw-light">Cuenta creada</p>
            <hr class="m-0 m-2">
            <app-person-info-row tag="Fecha:"
                [valueInfo]='(getCreatedAt() | date: "fullDate":"GMT-6":"es-MX") ?? "hola"'>
            </app-person-info-row>

            <div class="m-5"></div>

            <div class="m-0 d-flex justify-content-center" (click)="logOut()">
                <button type="button" class="d-flex justify-content-center btn btn-link text-danger">
                    <p class="m-0 me-2">Cerrar sesión</p>
                    <img class="rounded-circle m-0" style="height: 25px; width: 25px;" src="./assets/src/logout.png">
                </button>
            </div>

        </div>

    </div>

</div>