<div class="card w-100" (click)="goToPublication()">
    <div class="card-body p-3">

        <div style='display: flex; flex-direction: row;'>

            <div style='flex-grow: 1;'>
                <p class="fs-5 font-weight-medium m-0">{{post.title}}</p>
                <small class="fw-lighter m-0">
                    <small class="fw-light m-0"> Jose Carlos Huerta Garcia </small>
                    | {{this.post.createdAt | date: "fullDate":"GMT-6":"es-MX"}}
                </small>
            </div>

            <app-categories-badge [category]="this.post.category"></app-categories-badge>

        </div>

        &nbsp;

        <div style='max-height: 200px; overflow: hidden;'>
            <p class="text-black-50" [innerHTML]="this.post.body | sanitizeHtml"></p>
        </div>

        &nbsp;

        <div class="text-start">
            <small class="text-muted">❤️ 10 Me gusta</small>
            &nbsp;
            <small class="text-muted">🗨️ 5 comentarios</small>
        </div>

    </div>
</div>