<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title mb-5">{{post.title}}</h5>
        <small>
            <p class="text-black-50"> {{post.createdAt | date: "fullDate":"GMT-6":"es-MX"}} </p>
        </small>
        <!-- <div style="height: 100px;">
            <div [innerHTML]="this.post.body | sanitizeHtml"></div>
        </div> -->

        <!-- <p class="card-text">{{post.body}}</p> -->
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer text-end">
        <div>
            <small class="text-muted">❤️ 10 Me gusta</small>
            &nbsp;
            <small class="text-muted">🗨️ 5 comentarios</small>
        </div>
    </div>
</div>