<div style='border: 1px solid red;'>
    <div class="card w-100" style="min-width: 200px;">
        <!-- <img
            src="https://res.cloudinary.com/practicaldev/image/fetch/s--rJpmWDss--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/s0zygkonmbnl46mrtktu.jpg"
            class="card-img-top"
            alt="..."
        > -->
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!-- <pre>{{post | json}}</pre> -->
</div>