<div class="d-flex flex-row" (click)="goToActivityByID(activitie.id)">

    <div style='border: 1px solid; width: 300px; height: 125px' appCardActivity [activityType]="activitie.activityType!"
        class="px-3 py-2 d-flex flex-column justify-content-between rounded position-relative">

        <div>
            <p class="fw-bold fs-6 m-0">{{activitie.name}}</p>
            <p class="text-secondary fw-light m-0">{{activitie.Topic?.name}}</p>
        </div>

        <p class="fw-bold fs-6 mb-0">{{activitie.activityLevel}}</p>

        <img [src]="getImageActivity()" class="position-absolute bottom-0 end-0 img-fluid opacity-50"
            style='height: 75px;'>
        <!-- <div class="position-relative">
        </div> -->

    </div>

    <div style='width: 12px;' *ngIf="spaceLeft"></div>

</div>