<div class="px-3" *ngIf="postID">

    <div class="container">
        <p class="fw-semibold fs-4 m-0">Comentarios {{postID}}</p>
        <small class="fw-semibold text-black-50 m-0">5 comentario</small>
    </div>

    &nbsp;

    <app-comment-input [postIdToComment]="postID">
    </app-comment-input>

    &nbsp;

    <!-- <pre>{{comments|json}}</pre> -->

    <div *ngFor="let item of comments" class="container">

        <div style="display: flex; flex-direction: row;">

            <img class="rounded-circle" style="width: 5%; height: min-content;" src="./assets/src/header/not_photo.png">

            &nbsp;

            <div style='flex-grow: 1;'>
                <div class="rounded p-3" style='border: 1px solid rgb(109, 137, 102); background-color: white;'>

                    <p class="m-0">{{item.author?.fullName}}</p>
                    &nbsp;

                    <p class="text-black-50 m-0">{{item.body}}</p>
                    &nbsp;
                    &nbsp;

                    <small>
                        <p class="text-black-50 m-0">{{item.createdAt}}</p>
                    </small>

                    <!--
                        <div>
                            <small class="fw-semibold text-black-50 m-0">❤️ me gusta</small>
                        </div>
                    -->

                </div>
            </div>

        </div>

        &nbsp;

    </div>

</div>