<div class="px-3" *ngIf="postID">

    <div class="container">
        <p class="fw-semibold fs-4 m-0">Comentarios {{postID}}</p>
        <small class="fw-semibold text-black-50 m-0">5 comentario</small>
    </div>

    &nbsp;

    <app-comment-input [postIdToComment]="postID">
    </app-comment-input>

    &nbsp;

    <div *ngFor="let item of [1, 2, 3, 5, 6, 7, 8, 9, 0]" class="container">

        <div style="display: flex; flex-direction: row;">

            <img class="rounded-circle" style="width: 5%; height: min-content;" src="./assets/src/header/not_photo.png">

            &nbsp;

            <div style='flex-grow: 1;'>
                <div class="rounded p-3" style='border: 1px solid rgb(109, 137, 102); background-color: white;'>

                    <p class="text-black-50 m-0">
                        El término Década Ominosa —es decir, abominable— fue acuñado por los liberales que la la la la
                        sufrieron la la la la la la represión y el exilio durante esos diez años. El escritor
                        progresista Benito Pérez tituló uno de sus Episodios Nacionales
                    </p>

                    &nbsp;

                    <!--
                        <div>
                            <small class="fw-semibold text-black-50 m-0">❤️ me gusta</small>
                        </div>
                    -->

                </div>
            </div>

        </div>

        &nbsp;

    </div>

</div>