<div class="my-2 bg-greyEEEEEE px-5 py-4 h-auto rounded-3">
    <div class="col-12">

        <!-- title -->
        <div style="display: flex; flex-direction: row;">

            <div style="flex-grow: 1;">
                <p class="h2">{{this.inputCreatePost.title}}</p>
                <small style='display: flex; flex-direction: row;'>
                    <p class="fs-5 fw-lighter m-0">Jose Carlos Huerta Garcia</p>
                </small>
            </div>

            <app-categories-badge [category]="this.inputCreatePost.category"></app-categories-badge>

        </div>


        &nbsp;


        <!-- body -->
        <div [innerHTML]="this.inputCreatePost.body | sanitizeHtml">
        </div>


    </div>

    &nbsp;

    <div class="col-12">
        <div class="d-flex flex-row-reverse g-4">
            <button type="button" class="btn btn-primary w-auto" (click)="createPublication()">
                Crear publicación
            </button>
            &nbsp;
            <button type="button" class="btn btn-outline-primary w-auto" (click)="seeEditPost()">
                Editar
            </button>
        </div>
    </div>
</div>