<div class="row mt-5 d-flex justify-content-center" style="border: 1px solid">
  <div class="col-lg-4 col-md-8">

    <form [formGroup]="loginForm" autocomplete="off">

      <p class="h4">Crea tu cuenta de tutor</p>
      <p>Ingresa tus datos</p>

      <div class="row g-3">

        <div class="col-12">
          <app-full-name-input [formControlName]="'fullName'" [formControl]="getFormControl('fullName')">
          </app-full-name-input>
        </div>

        <div class="col-12">
          <app-college-name [formControlName]="'collegeName'" [formControl]="getFormControl('collegeName')">
          </app-college-name>
        </div>

      </div>

    </form>

  </div>
</div>