<div class="row mt-5 d-flex justify-content-center" style="border: 1px solid">
  <div class="col-lg-4 col-md-8">
    <form [formGroup]="singUpForm" autocomplete="off">
      <p class="h4">Crea tu cuenta de tutor</p>
      <p>Ingresa tus datos</p>

      <div class="row g-3">
        <div class="col-12">
          <app-full-name-input [formControlName]="'fullName'" [formControl]="getFormControl('fullName')">
          </app-full-name-input>
        </div>

        <div class="col-12">
          <app-college-name-input [formControlName]="'collegeName'" [formControl]="getFormControl('collegeName')">
          </app-college-name-input>
        </div>

        <div class="col-12">
          <app-college-enrollment-input [formControlName]="'collegeEnrollment'"
            [formControl]="getFormControl('collegeEnrollment')">
          </app-college-enrollment-input>
        </div>

        <div class="col-12">
          <app-email-input [formControlName]="'email'" [formControl]="getFormControl('email')">
          </app-email-input>
        </div>

        <div class="col-sm-6">
          <app-pass-input [formControlName]="'pass'" [formControl]="getFormControl('pass')"></app-pass-input>
        </div>
        <div class="col-sm-6">
          <app-pass-input [formControlName]="'confiPass'" [formControl]="getFormControl('confiPass')"
            [isToConfirmPass]="true"></app-pass-input>
        </div>
      </div>
    </form>

    <pre>{{ this.singUpForm.value | json }}</pre>
    <pre>{{ this.singUpForm.errors | json }}</pre>
  </div>
</div>