<div class="container my-5 d-flex justify-content-center">
  <div class="shadow col-xxl-4 p-5 my-5 bg-body rounded">
    <form [formGroup]="loginForm" autocomplete="off">
      <h1 class="h3 my-4">Floky</h1>

      <app-email-input
        [formControlName]="this.emailValidator.name"
        [showError]="this.emailValidator.showMessage()"
        [messageError]="this.emailValidator.getErrorMessage()"
      >
      </app-email-input>

      <app-password-input
        [formControlName]="passValidator.name"
        [showError]="passValidator.showMessage()"
        [messageError]="passValidator.getErrorMessage()"
      >
      </app-password-input>

      <button
        type="button"
        class="btn btn-primary mt-4 w-100"
        (click)="logIn()"
      >
        Iniciar sesión
      </button>
      <button type="button" class="btn btn-link w-100">
        ¿Olvidaste tu contraseña?
      </button>
    </form>
  </div>
</div>

<pre>{{ this.loginForm.value | json }}</pre>

<!--
<p class="h6">pass email</p>
<pre>{{ this.loginForm.get('pass')?.errors | json }}</pre>

<p class="h6">Errors touched</p>
<pre>{{ this.loginForm.get('pass')?.touched| json }}</pre>

<p class="h6"> valid</p>
<pre>{{ loginForm.valid }}</pre>

<p class="h6"> pristine</p>
<pre>{{ loginForm.pristine }}</pre> -->
