<form [formGroup]="loginForm" autocomplete="off">
    <div class="container my-5 d-flex justify-content-center">
        <div class="shadow p-5 my-5 col-lg-6 bg-body rounded">

            <p class="h4 my-4">Floky tutor</p>

            <div class="row g-3">
                <div class="col-12">
                    <app-email-input [formControlName]="'email'" [formControl]="getFormControl('email')">
                    </app-email-input>
                </div>
                <div class="col-12">
                    <app-pass-input [formControlName]="'pass'" [formControl]="getFormControl('pass')">
                    </app-pass-input>
                </div>

                <div class="col-12 mt-4">

                    <ng-container *ngIf="this.authenticateAWSService.isLoading; else elseLoading">
                        <app-spinner-loading></app-spinner-loading>
                    </ng-container>
                    <ng-template #elseLoading>
                        <button type="button" class="btn btn-primary w-100" (click)="login()">
                            Iniciar sesión
                        </button>
                    </ng-template>

                    <button type="button" class="btn btn-link w-100">
                        ¿Olvidaste tu contraseña?
                    </button>
                </div>

            </div>

        </div>
    </div>
</form>