<label for="ForCollegeEnrollmentInput" class="form-label">
    Registro escolar
</label>
<input
  type="text"
  class="form-control"
  id="ForCollegeEnrollmentInput"
  placeholder="ej. 201738087"
  [value]="value"
  [(ngModel)]="value"
  (ngModelChange)="onChange(value)"
  (blur)="onTouched(true)"
/>
<div id="collageEnrollmentHelp" class="form-text">
    Sigue las indicaciones de tu institución
  </div>
<div class="text-danger" style="font-size: 14px" *ngIf="showMessage()">
  {{ getErrorMessage() }}
</div>
