<div class="m-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-8" style="border: 1px solid">
      <div class="col-lg">
        <div class="w-100 text-center">
          <p class="h4">Confirma tu cuenta de tutor</p>
          <p>Se le envió un código de verificación a su correo electrónico</p>
        </div>

        <div class="row g-3 d-flex justify-content-center">
          <div class="col-6">
            <app-verification-code-input></app-verification-code-input>
          </div>
          <button
            type="button"
            class="btn btn-primary col-12 w-75"
            style="border: 1px solid"
          >
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
