<div
  class="position-absolute top-0 end-0 m-5"
  style="z-index: 11"
  *ngIf="showToast"
>
  <div
    id="liveToast"
    [class]="getStyle(customToast.typeToast)"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-body">
      <div class="w-100 d-flex justify-content-end">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
          (click)="closeToast()"
        ></button>
      </div>
      <div class="fw-bold">
        {{ customToast.message }}
      </div>
    </div>
  </div>
</div>
