<div *ngIf="post && postAuthor" class="mx-3">


    <!-- title -->
    <div style="display: flex; flex-direction: row;">

        <div style='flex-grow: 1;'>
            <p class="fs-2 font-weight-medium m-0">{{this.post.title}}</p>
            <small class="fs-5 fw-light m-0">
                {{this.postAuthor.fullName}}
                <small class="fw-lighter m-0">
                    | {{this.post.createdAt | date: "fullDate":"GMT-6":"es-MX"}}
                </small>
            </small>
        </div>

        <app-categories-badge [category]="this.post.category"></app-categories-badge>
    </div>


    <!-- body -->
    &nbsp;
    <div>
        <p class="fs-6 text-body" [innerHTML]="this.post.body | sanitizeHtml"></p>
    </div>


</div>