<div *ngIf="post; else notPost">

    <div class="container">

        <app-publication-viewer [post]="post">
        </app-publication-viewer>
        &nbsp;

        <div class="row">

            <div class="col-lg-12">

                <!--
                    <app-publication-comments>
                    </app-publication-comments>
                    &nbsp;
                -->

                <!-- <div class="col-lg-3">
                    <app-publication-helpers>
                    </app-publication-helpers>
                </div> -->

            </div>

        </div>
    </div>

</div>

<ng-template #notPost>
    <p>No existe :(</p>
</ng-template>