<p class="h2">Actividades <small>📝</small> </p>
<p class="text-secondary">Descubre actividades nuevas</p>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Busca por nombre de actividades" />
    <button class="btn btn-outline-primary" type="button">
        Buscar
    </button>
</div>

<button type="button" class="btn btn-primary w-100" (click)="createActivity()">
    createActivitie
</button>

<!-- <div class="container px-lg-5 my-3">
    <div class="row mx-lg-5 g-2">
        <div class="col-lg-6">
            <app-button-reading></app-button-reading>
        </div>
        <div class="col-lg-6">
            <app-button-writing></app-button-writing>
        </div>
        <div class="col-lg-6">
            <app-button-speaking></app-button-speaking>
        </div>
        <div class="col-lg-6">
            <app-button-listening></app-button-listening>
        </div>
    </div>
</div> -->

<div class="my-4" style='border: 1px solid;'>
    <p class="h5">Nuevas actividades 🆕</p>
    <div class="d-flex flex-row justify-content-start mt-1">
        <app-card-activity *ngFor="let activitie of newActivities" [activitie]="activitie"></app-card-activity>
    </div>
</div>

<div class="my-4" style='border: 1px solid;'>
    <p class="h5">Nuevas actividades</p>
</div>

<pre *ngFor="let activitie of newActivities">{{activitie | json}}</pre>
<pre *ngFor="let topic of topics">{{topic|json}}</pre>