<div class="container p-5">
    <p class="h2">Buenas tardes, <small>Fernando Herrera R.</small> </p>
    <p class="text-secondary">Estas con las actividades que puedes asignara a tus alumnos. :)</p>

    <button type="button" class="btn btn-primary w-100" (click)="getActivities()">
        [GET_ACTIVITIES]
    </button>

    <button type="button" class="btn btn-primary w-100" (click)="clearDataStore()">
        [DROP_DATA]
    </button>

    <button type="button" class="btn btn-primary w-100" (click)="createTopic()">
        [CREATE_TOPIC]
    </button>

    <p *ngFor="let topic of topics">{{topic.name}}</p>
</div>