<div class="position-absolute h-100 w-100" style="background-color: rgba(155,147,184,0.4); z-index: 1;">

    <div class="position-absolute top-50 start-50 translate-middle w-100">

        <div class="rounded-2 w-25 bg-white border border-greyAAAAAA">
            <div class="modal-dialog">

                <p class="fw-semibold fs-5 my-2 mx-4">Title</p>

                <hr>

                <p class="my-5 mx-4">Modal body text goes here.</p>

                <hr>

                <div class="d-flex flex-row-reverse m-2">
                    <button type="button" class="btn btn-primary">Aceptar</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-primary">Cancelar</button>
                </div>

            </div>
        </div>

    </div>

</div>