<div class="d-flex flex-column flex-shrink-0 p-3 bg-greyEEEEEE" style='height: 100%;'>
    <ul class=" nav nav-pills flex-column mb-auto">


        <li class="nav-item px-3 py-3" routerLink="./bienvenido" routerLinkActive="active">
            🏠 Inicio
        </li>

        <hr>

        <li class="nav-item px-3 py-3" routerLink="./actividades" routerLinkActive="active">
            📝 Actividades
        </li>

        <li class="nav-item px-3 py-3" routerLinkActive="active">
            🧑‍🤝‍🧑 Grupos alumnos
        </li>

        <li class="nav-item px-3 py-3" routerLink="./publicaciones" routerLinkActive="active">
            📰 Publicaciones
        </li>

        <hr>

    </ul>
</div>