<!-- <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse" style='border: 1px solid;'>
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Mi perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    Actividades
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Publicaciones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Grupos
                </a>
            </li>
        </ul>

    </div>
</nav> -->


<div class="d-flex flex-column flex-shrink-0 p-3 pt-5 bg-greyEEEEEE">

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                Actividades
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Grupos alumnos
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                Publicaciones
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>