<label
  [for]="isToConfirmPass ? 'ForConfirmPassInput' : 'ForPassInput'"
  class="form-label"
>
  {{ isToConfirmPass ? "Confirmar contraseña" : "Contraseña" }}
</label>
<input
  type="password"
  class="form-control"
  [id]="isToConfirmPass ? 'ForConfirmPassInput' : 'ForPassInput'"
  placeholder="***"
  [value]="value"
  [(ngModel)]="value"
  (ngModelChange)="onChange(value)"
  (blur)="onTouched(true)"
/>
<div class="text-danger" style="font-size: 14px" *ngIf="showMessage()">
  {{ getErrorMessage() }}
</div>
