<div class="container">
    <div style="display: flex; flex-direction: row;">

        <img class="rounded-circle" style="width: 5%; height: min-content;" src="./assets/src/header/not_photo.png">

        <div style='flex-grow: 1;'>
            <div class="rounded p-3" style='border: 1px solid rgb(109, 137, 102); background-color: white;'>

                <p class="m-0">{{comment.author.fullName}}</p>
                <small>
                    <p class="text-black-50 m-0">{{comment.createdAt | date: "fullDate":"GMT-6":"es-MX"}}</p>
                </small>
                &nbsp;

                <p class="text-black-50 m-0">{{comment.body}}</p>
                &nbsp;
                &nbsp;

            </div>
        </div>

    </div>
</div>
&nbsp;