<header class="p-3 px-5 text-bg-dark">
    <div class="d-flex align-items-center justify-content-between">

        <!-- <span class="hFloky Tutor5 text-white">Floky Tutor</span> -->

        <p>Floky Tutor</p>

        <div style='border: 1px solid;'>

            <p class="m-0 p-0">{{getShortName()}}</p>

            <button type="button" class="btn btn-link text-light m-0 p-0" (click)="signOut()">
                Cerrar sesión
            </button>


            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button (click)="toogleShowMenu()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" [ngClass]="{'show': showCollapseMenu}" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- <button class="btn btn-primary align-items-end" (click)="goToMyProfile()">
                Mi perfil, [COLLAPSE_MENU]
            </button> -->
        </div>

    </div>
</header>