<div class="row">

    <div class="col-2">
        <app-side-bar></app-side-bar>
    </div>

    <div class="col" style='border: 1px solid;'>

        <router-outlet></router-outlet>

        <button type="button" class="btn btn-primary w-100" (click)="getActivities()">
            [GET_ACTIVITIES]
        </button>

        <button type="button" class="btn btn-primary w-100" (click)="clearDataStore()">
            [DROP_DATA]
        </button>

        <button type="button" class="btn btn-primary w-100" (click)="createTopic()">
            [CREATE_TOPIC]
        </button>

        <p *ngFor="let topic of topics">{{topic.name}}</p>

    </div>
</div>