<div class="m-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5 col-md-8">
      <form [formGroup]="registerAccountForm" autocomplete="off">
        <p class="h4">Crea tu cuenta de tutor</p>
        <p>Ingresa tus datos</p>

        <app-name-input
          [formControlName]="fullNameValidator.name"
          [showError]="fullNameValidator.showMessage()"
          [messageError]="fullNameValidator.getErrorMessage()"
        ></app-name-input>

        <app-college-enrollment-input
          [formControlName]="collegeEnrollmentValidator.name"
          [showError]="collegeEnrollmentValidator.showMessage()"
          [messageError]="collegeEnrollmentValidator.getErrorMessage()"
        ></app-college-enrollment-input>

        <app-college-name-input
          [formControlName]="collegeNameValidator.name"
          [showError]="collegeNameValidator.showMessage()"
          [messageError]="collegeNameValidator.getErrorMessage()"
        ></app-college-name-input>

        <app-email-input
          [formControlName]="emailValidator.name"
          [showError]="emailValidator.showMessage()"
          [messageError]="emailValidator.getErrorMessage()"
        ></app-email-input>

        <div class="row">
          <div class="col-lg-6">
            <app-password-input
              [formControlName]="passValidator.name"
              [showError]="passValidator.showMessage()"
              [messageError]="passValidator.getErrorMessage()"
            ></app-password-input>
          </div>
          <div class="col-lg-6">
            <app-password-input
              [isToConfirmPass]="true"
              [formControlName]="ConfiPassValidator.name"
              [showError]="ConfiPassValidator.showMessage()"
              [messageError]="ConfiPassValidator.getErrorMessage()"
            ></app-password-input>
          </div>
        </div>

        <div class="d-flex justify-content-center w-100 my-4">
          <div
            class="spinner-border text-primary"
            *ngIf="isLoading; else isLoadingTemplate"
          ></div>
          <ng-template #isLoadingTemplate>
            <button
              type="button"
              class="btn btn-primary w-50"
              (click)="registerNewAccount()"
            >
              Registrarse
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>

  <pre>{{ registerAccountForm.value | json }}</pre>

  <button type="button" class="btn btn-primary" id="liveToastBtn">
    Show live toast
  </button>

  <div class="position-absolute top-0 end-0 p-3" style="z-index: 11">
    <div
      id="liveToast"
      class="toast show bg-danger text-white"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-body">
        <div class="w-100 d-flex justify-content-end">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="fw-bold">
          Ya esta en uso el correoen uso el correoen uso el correo electrónico
        </div>
      </div>
    </div>
  </div>
</div>
