<div class="m-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-8">
      <form [formGroup]="registerAccountForm" autocomplete="off">
        <p class="h4">Crea tu cuenta de tutor</p>
        <p>Ingresa tus datos</p>

        <div class="mt-4"></div>

        <app-name-input
          [formControlName]="fullNameValidator.name"
          [showError]="fullNameValidator.showMessage()"
          [messageError]="fullNameValidator.getErrorMessage()"
        ></app-name-input>

        <div class="row">
          <div class="col-lg-6">
            <app-college-enrollment-input
              [formControlName]="collegeEnrollmentValidator.name"
              [showError]="collegeEnrollmentValidator.showMessage()"
              [messageError]="collegeEnrollmentValidator.getErrorMessage()"
            ></app-college-enrollment-input>
          </div>
          <div class="col-lg-6">
            <app-college-name-input
              [formControlName]="collegeNameValidator.name"
              [showError]="collegeNameValidator.showMessage()"
              [messageError]="collegeNameValidator.getErrorMessage()"
            ></app-college-name-input>
          </div>
        </div>

        <div class="mt-4"></div>

        <app-email-input
          [formControlName]="emailValidator.name"
          [showError]="emailValidator.showMessage()"
          [messageError]="emailValidator.getErrorMessage()"
        ></app-email-input>

        <div class="row">
          <div class="col-lg-6">
            <app-password-input
              [formControlName]="passValidator.name"
              [showError]="passValidator.showMessage()"
              [messageError]="passValidator.getErrorMessage()"
            ></app-password-input>
          </div>
          <div class="col-lg-6">
            <app-password-input
              [formControlName]="ConfiPassValidator.name"
              [showError]="ConfiPassValidator.showMessage()"
              [messageError]="ConfiPassValidator.getErrorMessage()"
            ></app-password-input>
          </div>
        </div>

        <button type="button" class="btn btn-primary mt-4 w-100">
          Registrarse
        </button>
      </form>
    </div>
  </div>

  <!-- <pre>{{ this.registerAccountForm.get("fullName")?.errors | json }}</pre>
  <pre>{{ this.registerAccountForm.value | json }}</pre> -->
</div>
