<div class="m-5">
  <app-custom-toast message="Hola_error" [type]="1"> </app-custom-toast>

  <div class="row d-flex justify-content-center">
    <div class="col-lg-5 col-md-8">
      <form [formGroup]="registerAccountForm" autocomplete="off">
        <p class="h4">Crea tu cuenta de tutor</p>
        <p>Ingresa tus datos</p>

        <div class="row g-3">
          <div class="col-12">
            <app-name-input
              [formControlName]="fullNameValidator.name"
              [showError]="fullNameValidator.showMessage()"
              [messageError]="fullNameValidator.getErrorMessage()"
            ></app-name-input>
          </div>

          <div class="col-sm-8">
            <app-college-enrollment-input
              [formControlName]="collegeEnrollmentValidator.name"
              [showError]="collegeEnrollmentValidator.showMessage()"
              [messageError]="collegeEnrollmentValidator.getErrorMessage()"
            ></app-college-enrollment-input>
          </div>

          <div class="col-12">
            <app-college-name-input
              [formControlName]="collegeNameValidator.name"
              [showError]="collegeNameValidator.showMessage()"
              [messageError]="collegeNameValidator.getErrorMessage()"
            ></app-college-name-input>
          </div>

          <div class="col-12">
            <app-email-input
              [formControlName]="emailValidator.name"
              [showError]="emailValidator.showMessage()"
              [messageError]="emailValidator.getErrorMessage()"
            ></app-email-input>
          </div>

          <div class="col-sm-6">
            <app-password-input
              [formControlName]="passValidator.name"
              [showError]="passValidator.showMessage()"
              [messageError]="passValidator.getErrorMessage()"
            ></app-password-input>
          </div>

          <div class="col-sm-6">
            <app-password-input
              [isToConfirmPass]="true"
              [formControlName]="ConfiPassValidator.name"
              [showError]="ConfiPassValidator.showMessage()"
              [messageError]="ConfiPassValidator.getErrorMessage()"
            ></app-password-input>
          </div>
        </div>

        <div class="d-flex justify-content-center w-100 my-4">
          <div
            class="spinner-border text-primary"
            *ngIf="isLoading; else isLoadingTemplate"
          ></div>
          <ng-template #isLoadingTemplate>
            <button
              type="button"
              class="btn btn-primary w-50"
              (click)="registerNewAccount()"
            >
              Registrarse
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
