<header class="px-3 py-3 d-flex justify-content-between text-bg-dark">

    <p class="m-0 p-0 fs-2">Floky Tutor</p>

    <div class="d-flex">

        <img style="height: 50px;" class="rounded-circle img-fluid me-2" src="./assets/src/header/not_photo.png">

        <div class="flex-colum">

            <p class="fs-6 fw-bold m-0">Jose Carlos Huerta G</p>

            <div class="d-flex align-items-center">
                <p class="fs-6 fw-light m-0">Ver mi perfil</p>
                <img style="height: 20px;" class="img-fluid" src="./assets/src/header/expand_more.png">
            </div>
        </div>

    </div>

</header>