/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 8px;
    overflow-y: scroll;
    overflow-x: scroll;
    background: #aaaaaa;
    /* box-shadow: inset 0 0 4px #707070; */
}

::-webkit-scrollbar-thumb {
    background: hsla(216, 98%, 52%, 0.60);
    border-radius: 100px;
}