<div class="mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-6">

            <p class="h4">Crea un actividad</p>
            <p>Ingresa los datos de la nueva actividad</p>

            <form [formGroup]="createActivitieForm" autocomplete="off">

                <div class="row g-3">
                    <div class="col-12">
                        <label for="ForNameInput" class="form-label">Nombre de la actividad</label>
                        <input type="text" class="form-control" id="ForNameInput" formControlName="name" />
                    </div>

                    <div class="col-md-6">
                        <label for="ForNameInput" class="form-label">Nivel</label>
                        <select class="form-select" id="ForNameInput" aria-label="Default select example"
                            formControlName="activityLevel">
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>
                        </select>
                        <!-- <input type="text" class="form-control" id="ForNameInput" /> -->
                    </div>

                    <div class="col-md-6">
                        <label for="ForNameInput" class="form-label">Tipo actividad</label>
                        <select class="form-select" id="ForNameInput" aria-label="Default select example"
                            formControlName="typeActivity">
                            <option value="WRITING">{{ "WRITING" | titlecase }}</option>
                            <option value="READING">{{ "READING" | titlecase }}</option>
                            <option value="TALKING">{{ "TALKING" | titlecase }}</option>
                            <option value="LISTENING">{{ "LISTENING" | titlecase }}</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="ForNameInput" class="form-label">Tema</label>
                        <select class="form-select" id="ForNameInput" aria-label="Default select example"
                            formControlName="topicID">
                            <option value="Animales">{{ "Animales" }}</option>
                            <option value="Oficios">{{ "Oficios" }}</option>
                            <option value="Países">{{ "Países" }}</option>
                            <option value="Tiempo pasado">{{ "Tiempo pasado" }}</option>
                            <option value="Nuevo tema">{{ "Nuevo tema" }}</option>
                        </select>
                        <!-- <input type="text" class="form-control" id="ForNameInput" /> -->
                    </div>

                    <div class="col-12">
                        <label for="ForNameInput" class="form-label">Pregunta</label>
                        <input type="text" class="form-control" id="ForNameInput" formControlName="question" />
                    </div>

                    <div class="col-12">
                        <label for="ForQuestionBody" class="form-label">Cuerpo de la pregunta</label>
                        <textarea class="form-control" id="ForQuestionBody" rows="3"
                            formControlName="questionBody"></textarea>
                    </div>

                    <div class="col-12">
                        <label for="ForNameInput" class="form-label">Repuestas</label>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Respuesta correcta</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="inputEmail3"
                                    formControlName="answers_correct">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Respuesta incorrecta</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="inputEmail3"
                                    formControlName="answers_incorrecta_1">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Respuesta incorrecta</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="inputEmail3"
                                    formControlName="answers_incorrecta_2">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Respuesta incorrecta</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="inputEmail3"
                                    formControlName="answers_incorrecta_3">
                            </div>
                        </div>

                    </div>


                    <div class="col-12">
                        <label for="ForExamplesInput" class="form-label">Ejemplos</label>

                        <!-- <input type="text" class="form-control" id="ForExamplesInput" formControlName="question" /> -->

                        <div formArrayName="examples">
                            <div class="input-group mb-3" *ngFor="let example of examplesArr.controls; let i = index">
                                <input type="text" class="form-control" placeholder="" aria-label="Recipient's username"
                                    aria-describedby="button-addon2" [formControlName]="i">
                                <button class="btn btn-outline-secondary text-bg-danger" type="button"
                                    id="button-addon2" (click)="deleteExample(i)">x</button>
                            </div>
                        </div>

                        <button class="btn btn-outline-primary" (click)="addExampleInput()">Agregar ejemplo</button>
                    </div>


                    <div class="mt-5 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary w-75" (click)="printActivitie()">
                            Agregar actividad
                        </button>
                    </div>

                    <pre>{{this.createActivitieForm.value | json}}</pre>

                </div>
            </form>

        </div>
    </div>
</div>